
.Cuadrado {
	width: 100px;
	height: 100px;
	background: #08B;
}

.Rectangulo {
   width: 100px;
   height: 200px;
   background: #08B;
}

.Triangulo {
	width: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #08B;
}

.Circulo {
	border-radius:50%;
	width: 100px;
	height: 100px;
	background: #08B;
}